html, body {
    height: 100%;
}

body {
    margin-top: 100px;
    margin-left: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

.title {
    font-size: 70px;
    color: black;
    font-weight: 700;
    font-family: 'PingFang SC';
    margin-bottom: 30px;
}

.subtitle {
    font-size: 35px;
    color: black;
    font-weight: 500;
    font-family: 'PingFang SC'; 
    margin-bottom: 35px;
}

p {
    width: 640px;
    line-height: 32px;
    font-size: 22px;
    font-family: 'PingFang SC';
    font-weight: 400;
    margin-bottom: 20px;
    color: #333;
}

.profile {
    position: relative;
    text-decoration: none;
    color: #333;
}

.profile:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    background-color: #0EBA86;
    opacity: .3;
}

.social-item {
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: #0EBA86;
    border-radius: 100%;
}

.social-item img {
    width: 100%;
}
